<div class="row">
    <div class="col-sm-4">
        <form action="/admin/categories/edit/{{category.id}}?_method=PUT" method="post">
            <div class="for-group">
                <label for="name">Name</label>
                <input value="{{category.name}}" type="text" name="name" placeholder="Enter Title" class="form-control">
            </div>
            <br>
            <div class="form-group">
                <button class="btn btn-primary">Update Category</button>
            </div>
        </form>
    </div>
</div>

