<div class="about-sec">
    <h3>About Me</h3>
    <figure>
        <img src="/uploads/profile.jpg" width="200px" height="200px" alt="profile">
    </figure>
    <h5>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's printer took a galley of type
        it imen book.</h5>
    <div class="share align-middle">
        <a href="https://www.facebook.com/emonmyplate/" target="_blank">
            <span class="fb">
                <i class="fa fa-facebook-official"></i>
            </span>
        </a>
        <a href="https://www.facebook.com/emonmyplate/" target="_blank">
            <span class="instagram">
                <i class="fa fa-instagram"></i>
            </span>
        </a>
        <a href="https://www.facebook.com/emonmyplate/" target="_blank">
            <span class="twitter">
                <i class="fa fa-twitter"></i>
            </span>
        </a>
        <a href="https://www.facebook.com/emonmyplate/" target="_blank">
            <span class="pinterest">
                <i class="fa fa-linkedin"></i>
            </span>
        </a>
    </div>
</div>
