<h1>Create Posts</h1>
    <div class="alert alert-danger">
    </div>
<form action="/admin/posts/create" method="post">
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" name="title" placeholder="Enter Title" >
    </div>

    <div class="form-group">
        <label for="title">Category</label>
        <select  class="form-control" id="" name="category">
                <option value="">Public</option>
        </select>
    </div>

    <div class="form-group">
        <label for="file">Upload File</label>
        <input type="file" class="form-control"  id="file" name="image_file">
    </div>

    <div class="form-group">
        <label for="title">Date</label>
        <input type="text" class="form-control" id="date" name="date" placeholder="Enter Date" >
    </div>


    <div class="form-group">
        <label for="author">Author</label>
        <select  class="form-control" id="status" name="author">
            <option value="public">Emma Martin</option>
        </select>
    </div>

    <div class="form-check">
        <label for="allowComments">
            <input type="checkbox" class="form-check-input" id="allowComments" name="allowComments">
            Allow Comments
        </label>
    </div>

    <div class="form-group">
        <label for="tags">Tags</label>
        <input type="text" class="form-control" id="title" name="tags" placeholder="Enter Tags" >
    </div>
    <div class="form-group">
        <label for="body">Description</label>
        <textarea cols="30" rows="10" class="form-control" id="body" name="content" placeholder="Enter Description"></textarea>
    </div>
    <button type="submit">Submit</button>

</form>

